*{
    padding: 20;
    margin: 10px;
}
table, th, td {
    border: 1px solid rgb(106, 40, 212);
    box-shadow: currentColor;
    border-collapse: collapse;
    font-family: sans-serif;
  }
  th, td {
    padding: 5px;
    text-align: left;   
  }

#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
.vid{
    margin: 100px;
}
.vid h3{
    text-align: left;
    align-items: center;
}